body {background-color:azure;
    font-family: arial, Verdana, sans-serif;
    margin-left:auto;
    margin-right:auto;
    width: 95%;
    max-height: 960px;
    min-width:960px;
}
/* Floating Styles */

nav.horizontalNavigation li {
    display: block;
    float:left;
    
}

section#leftColumn {
    
    clear: left;
    float: left;
    width: 33%;
    
}

section#rightColumn {
    clear: right;
    float:right;
    width: 27%;
    margin-top: 0;
}

section#bottomColumn {
     float:none;
     width: 50%;

    
}
footer > nav.verticalNaviagation {
    float:left;
    width:22%;
}

footer section#contactInfo {
    float: left;
    width: 100%;
}

/* Containter Collapse Styles */
body > footer::after {
    clear: both;
    content:"";
    display:table;
}

header {background-color:cyan;}

h1{color:darkgray;}

nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;}
h2{color:darkgray;}
nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;}
#p {max-width: 100%;
    max-height: 0%;
    font-size: 1.2em;}
section {background-color: white;
        max-width:100%;
        max-height: 40%;
        font-size: 1.2em;}
footer {background-color: whitesmoke;
        max-width: 100%;
        margin-top: 30%;} 

