body {background-color:azure;
    font-family: arial, Verdana, sans-serif;}

header {background-color:red;}

h1{color:darkgray;}
nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;}
h2{color:darkgray;}
nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;}
section {background-color: white;
        max-width:75%;
        max-height: 100%;
        font-size: 1.2em;}
footer {background-color: whitesmoke;
        max-width: 75%;} 

